<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="member">
		<result column="MEMBER_NO" property="memberNo" />	
		<result column="MEMBER_ID" property="memberId" />	
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="MEMBER_STATUS" property="memberStatus" />
		<result column="MEMBER_TYPE" property="memberType" />
	</resultMap>

	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID = #{userId}
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (MEMBER_NO
						  , MEMBER_ID
						  , MEMBER_PWD
						  , MEMBER_NAME
						  , EMAIL
						  , PHONE
						  , MEMBER_STATUS
						  , MEMBER_TYPE)
					VALUES (SEQ_MEMBER_NO.NEXTVAL
						  , #{memberId}
						  , #{memberPwd}
						  , #{memberName}
						  , #{email}
						  , #{phone}
						  , 'Y'
						  , 3)
	</insert>
	
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_STATUS = 'Y'
	</select>
	
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		SET MEMBER_NAME = #{memberName}
		  , EMAIL = #{email}
		  , PHONE = #{phone}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<update id="deleteMember" parameterType="member">
		UPDATE MEMBER
		SET MEMBER_STATUS = 'N'
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_PWD = #{memberPwd}
	</update>
	
	<select id="selectMemberListCount" parameterType="commonVo" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		<choose>
			<when test="category.equals('memberId')">
				AND MEMBER_ID LIKE '%' || #{keyword} || '%'
			</when>			
			<when test="category.equals('memberName')">
				AND MEMBER_NAME LIKE '%' || #{keyword} || '%'
			</when>			
			<when test="category.equals('phone')">
				AND PHONE LIKE '%' || #{keyword} || '%'
			</when>
			<otherwise>
				AND MEMBER_TYPE = 3
			</otherwise>
		</choose>
	</select>
	
	<select id="selectMemberList" parameterType="commonVo" resultMap="memberResultSet">
		SELECT MEMBER_NO
			 , MEMBER_ID
			 , MEMBER_NAME
			 , EMAIL
			 , PHONE
		FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		<choose>
			<when test="category.equals('memberId')">
				AND MEMBER_ID LIKE '%' || #{keyword} || '%'
			</when>			
			<when test="category.equals('memberName')">
				AND MEMBER_NAME LIKE '%' || #{keyword} || '%'
			</when>			
			<when test="category.equals('phone')">
				AND PHONE LIKE '%' || #{keyword} || '%'
			</when>
			<otherwise>
				AND MEMBER_TYPE = 3
			</otherwise>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	<update id="deleteAdminMember" parameterType="_int">
		UPDATE MEMBER
		SET MEMBER_STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}	
	</update>
	
	<select id="selectMemberPage" parameterType="_int" resultMap="memberResultSet">
		SELECT MEMBER_NO
			 , MEMBER_ID
			 , MEMBER_PWD
			 , MEMBER_NAME
			 , EMAIL
			 , PHONE
		FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_NO = #{member_no}
	</select>

</mapper>